<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<head th:insert="fragments/layout.html :: headerContent ">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>


<body>

	<div th:replace="fragments/layout.html :: topbar">top</div>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="fragments/layout.html :: sidebar">this is the
				place for the sidebar</div>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<h1>Displaying Reviewers</h1>
				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th>Reviewer Name</th>
								<th>Reviewer BirthDate</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="reviewer : ${reviewersList}">
								<td><span th:text="${reviewer.name}">Reviewer name</span></td>
								<td><span th:text="${reviewer.birthDate}">Reviewer
										birthDate</span></td>
							</tr>
						</tbody>


					</table>
				</div>
			</main>
		</div>
	</div>
</body>
</html>